Django==5.2.14
djangorestframework==3.17.1
python-dotenv==1.2.2

mongoengine==0.29.3
pymongo==4.17.0
dnspython==2.8.0

numpy==1.26.4
pandas==3.0.3
opencv-python==4.11.0.86
mediapipe==0.10.9
fer==22.4.0
tensorflow==2.16.1
transformers==4.45.2
torch==2.3.1

PyAudio==0.2.14
sounddevice==0.5.5
vosk==0.3.45

requests==2.34.2
celery==5.4.0
redis==5.0.8
gunicorn==23.0.0
whitenoise==6.11.0

pytest==9.0.2
pytest-django==4.11.1
psutil==7.1.3
